.para-1{
	
font-size:1m;
}
.para-2{
	
font-size:5mm;
}
.para-3{
	
font-size:1cm;
}
.para-4{
	
font-size:1inch;
}
.para-5{
	
font-size:12pt;
}
.para-6{
	
font-size:12pc;
}
.para-7{
	
font-size:10px;
}
.para-8{
	
font-size:10pm;

}
.para-9{
	
font-size:10rpm;

}
.para-10{
	
font-size:10vmin;

}
.para-11{
	
font-size:10vmax;

}
.para-12{
	
font-size:10pm;

}
h2{
	text-decoration:underline dotted;
	color:blue;
}